.cards {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  color: #191919;
  background-color: #fcfaf8;
}

.cards-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards h2 {
  padding-bottom: 0.5rem;
  font-size: 5rem;
  font-weight: 500;
}

.cards .heading p,
a {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0.5px solid #a8a8a8;
  border-radius: 0.5rem;
}

.btn-group .btn {
  background-color: transparent;
  color: #191919;
  cursor: pointer;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  border: none;
  font-size: 1rem;
}

.btn-group span {
  font-size: 1rem;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  border: 1px solid rgba(1, 58, 46, 0.5);
  color: rgba(1, 58, 46, 0.5);
  background-color: rgb(230, 239, 238);
}

.btn-group .btn-grey:hover {
  background-color: #ebebeb;
  border-radius: 0;
}

.btn-group .btn-green:hover {
  background-color: rgb(230, 239, 238);
  border-radius: 0;
}

.cards .rows-content {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.cards .row {
  width: 28rem;
  background-color: #fff;
  color: rgb(40, 40, 40);
  padding: 2rem;
  padding-bottom: 4rem;
  margin: 1.2rem;
  position: relative;
  border: 0.1px solid rgb(235, 235, 235);
  border-radius: 1rem;
}

.cards .rows-content li {
  padding-bottom: 1rem;
  float: left;
  padding: 1rem;
  font-size: 1.3rem;
}

.cards .rows-content h3 {
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.cards .rows-content p {
  padding-bottom: 4rem;
  font-size: 0.9rem;
  color: #999999;
}

.cards .card-title {
  font-size: 2.5rem;
  font-weight: 400;
}

.cards .text-muted {
  color: #999999;
  font-size: 1.2rem;
}

.cards .text-green {
  color: rgb(2, 80, 65);
  font-size: 1rem;
}

.rows .btn {
  background-color: #191919;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  width: 90%;
  padding: 0.8rem;
  letter-spacing: 1px;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

.rows .btn:hover {
  background-color: #333333;
  color: white;
}

.rows hr {
  width: 100%;
  opacity: 0.3;
}

.rows-content i {
  margin-right: 1rem;
}

.landing-page h2 {
  padding-top: 8rem;
  font-size: 4rem;
  padding-bottom: 2.5rem;
}
